{{!-- 
   profile-block.handlebars                         
   card element with each individual's profile info. 
 --}}
 
 {{log this}}
 {{#if eaterData}}
    {{#each eaterData}} 
    
    <div class="col-12 col-md-6 col-lg-12">
      
      <div class="card mb-3" {{!-- style="width: 18rem;" --}}>
        <div class="card-header peopleAreaCard">
          <h5 class="card-title peopleAreaCardTitle">{{name}} - <span><small>{{location}}</small></span></h5>
          <div class="card-body peopleAreaCardBody">
            {{!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> --}}
            
            <p class="card-text bioTextTarget">{{bio}}</p>
            <ul class="list-group list-group-flush peopleAreaLI">
              <li class="list-group-item peopleAreaLI">{{restaurant1}}</li>
              <li class="list-group-item peopleAreaLI">{{restaurant2}}</li>
              <li class="list-group-item peopleAreaLI">{{restaurant3}}</li>
            </ul>
            <p class="card-text peopleAreaLI emailTextTarget">{{email}}</p>
            
            <a 
              id="send-msg-link{{id}}-1"  
              class="btn btn-primary"
              data-toggle="collapse"
              role="button"
              href="#collapseArea{{id}}"
              aria-expanded="false"
              aria-controls="collapseArea"
              data-userid="{{id}}"
              data-username="{{name}}"> 
               <i class="fas fa-envelope-square">   Leave Message</i>
            </a>

            <div class="collapse" id="collapseArea{{id}}">
              <div class="card card-body">
                <form id="msg-form{{id}}">
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Tell {{name}} how to contact you:</label>
                    <div class="row">
                      <div class="col">
                          <select class="form-control" id="contact-type{{id}}">
                            <option>e-mail</option>
                            <option>Phone #</option>
                          </select>
                      </div>
                      <div class="col">
                         <input id="contact{{id}}" class="form-control" type="text" placeholder="email address or phone#">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">Message:</label>
                    <textarea class="form-control" id="message-text{{id}}"></textarea>
                  </div>
                  <a id="send-msg-link{{id}}-2" class="btn btn-primary" data-toggle="collapse" role="button"
                   href="#collapseArea{{id}}" aria-expanded="false" aria-controls="collapseArea"
                   data-userid="{{id}}" data-username="{{name}}"><i class="fas fa-envelope-square">  Send!</i>
                  </a>
                </form>
              </div>
            </div>

            {{!-- <a href="#" class="card-link">Another link</a> --}}
          </div>
        </div>
      </div>
      </div>
      <script>
        $(`#send-msg-link{{id}}-2`).on("click" , function (event) {
          console.log (event); 
          var messageObj = { 
            profileID : {{id}},
            contactType : $(`#contact-type{{id}}`).val().trim(),
            contact     : $(`#contact{{id}}`).val().trim(),
            msgtext     : $(`#message-text{{id}}`).val().trim(),
            EaterId     : {{id}}
          }
          //console.log ("posting object" + messageObj);
          $.post("/api/msg", messageObj)
          .then(function() {
            document.getElementById(`msg-form{{id}}`).reset();
            alert("Message Sent!");
          })
          .catch( function (error) {
            console.log(error); 
          });
        });
      </script>
      
      {{/each}}
    {{else}}
      <p class="peopleAreaLI">No records found.</p>
    {{/if}}
    